@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: hsl(221, 100%, 96%);
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
}

.cards{
    display: flex;
    align-items:center;
    width: 600px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);;
}

.left{
    width:50%;
    padding:30px;
    text-align:center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(252, 100%, 67%);
    border-radius:20px;
}

.circle{
    width:150px;
    height:150px;
    margin:20px auto;
    border-radius:50%;
    background-color: hsl(256, 72%, 46%, 1);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.circle h1{
    font-size: 48px;
    color: hsl(0, 0%, 100%);
    
}

.circle p{
    color: hsl(241, 100%, 89%);
    opacity: 60%;
}

.left h2{
    margin: 10px 0;
}

.text{
    opacity: 0.7;
    font-size: 17px;
}

.right{
    width:50%;
    padding:30px;
}


h3{
    margin-bottom: 15px;
}

.item{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    font-size:14px;
}

.werty{
    display: flex;
    align-items: center;
}


img{
    margin-left: 5px;
    height: 15px;
}


.red{ background-color:hsl(0, 100%, 95%); color: hsl(0, 100%, 67%); }
.yellow{ background-color:hsl(39, 100%, 95%); color: hsl(39, 100%, 56%); }
.green{ background-color:hsl(157, 100%, 95%); color: hsl(166, 100%, 37%); }
.blue{ background-color:hsl(215, 100%, 95%); color: hsl(234, 85%, 45%); }

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:20px;
    background:hsl(224, 30%, 27%);
    color:hsl(0, 0%, 100%);
    margin-top:15px;
}

button:hover{
    background-color: hsl(221, 31%, 16%);
}