/* 1) კომენტარის სახით ახსენი როგორ დავამატოთ ფონტი css-ში */

/* rom davamatot fonti aris ramodenime metodebi */

/* 1) font-family */
/* font family aris css tviseba */
/* rom davamatot fonti chven unda davwerot fontis saxeli */
/* mag : sans-serif (fontis saxeli) */
/* font-family-shi sheidzleba davamatot ramodenime fonti ertad */
/* imitom rom shiedlza fonti (mag sans-serif) ar iyos, waishalos, an ragaca shecdoma iyos */
/* magram ramodenime fonti tu gvaq mag 2 da sans serifi ar aris fonti gadava meore style-ze */

/* 2) google font */
/* kidec shidzleba moxdes is rom font-familys araq is fonti romelic gwirdeba */
/* mam dros chven gvexmareba google fonti */
/* google fontshi aris atasobit sxvadasxva fonti */
/* rodesac chven vnaxet is fonti romelic gvawyobs */
/* vawert get fonts mere ki emebed code */
/* chven unda davaimportot fonti */
/* importi unda iyos kodis dasawyishi */
/* mere ki unda gamoviyenot font-family :DDD */
/* rac ewereba google fontis saitze  */
/* chven gvwirdeba mxolod font-family */