.box {
  position: relative;
  width: 200px;
  height: 200px;
  background: #ff0000;
}

.qwerty {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
}

.qw {
  top: 0;
  left: 0;
}

.er {
  top: 0;
  right: 0;
}

.ty {
  bottom: 0;
  left: 0;
}

.ui {
  bottom: 0;
  right: 0;
}