.container {
  width: 500px;
  display: flex;
  background-color: lightgray;
}

.box {
  width: 70px;
  height: 70px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}