.container {
  width: 500px;
  display: flex;     
  justify-content: flex-end; 
  background-color: lightgray;
}

.box {
  width: 70px;
  height: 70px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}