.container {
  width: 500px;
  height: 200px;       
  display: flex;         
  justify-content: center; 
  align-items: center;     
  background-color: whitesmoke;
}

.box {
  width: 70px;
  height: 70px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}