/* 2) კომენტარის სახით ახსენი რა განსხვავებაა @import და <link> შორის */

/* @import */
/* import igebs saits stils */
/* imports viyenebt css kodis dasawyishi */

/* <link> */
/* <link> iwereba <Head> tegshi */
/* links vakavshirebt bmuls rom tegi imoqmedos */
/* linkshi sheidzlebac iyos importi :DDD */
