/* PRIORITY OF SELECTORS : aris iirarqiuli html kodi sadac yvela stilis kods aq tavisi
prioriteti magalitad ramdenime sxvadasxva stilit miveci ert items 
sxvadasxva feri inline-it id-it class-it prioritetulad inline-s kodi miigebs fers */

/* PRIORITY OF SELECTORS */
/* 1) inline style */       /* Highest Priority */
/* 2) IDs */
/* 3) Classes */
/* 4) Elements */           /* Lowest Priority */