p{
    color: brown;
    background-color: aquamarine;
    border: 2px solid green;
}

.priority{
    color: darkcyan;
    background-color: darkgreen;
    border: 10px solid limegreen;
}

/* gamchvenebs class-is gastilebul kods imis gamo rom prioritetulad
classi aris ufro magali vidre elements prioritety */