#PEASY{
    color: rgb(142, 78, 11);
    background-color: rgb(20, 0, 244);
    border: 2px solid rgb(36, 1, 3);
}

.EASY{
    color:    rgb(2, 67, 108);
    background-color: rgb(63, 70, 3);
    border: 10px solid rgb(91, 17, 23);
}

/* prioritetulad id igebs da magis gamo misi stili iqneba p*/