.BRUHR {
  color: red;
}

.BRUHB {
  color: blue;
}

/* PROGRAMIREBIS PIREVLI WESI ARIS IS ROM */
/* VINC PIRVELIA IS WITELI KVERCXIA */
/* DA VINC BOLOA IS SIGMA GIGA CHADIA */
/* css kitxulobs bolo kods bolo moqmedebas */