    body {
        font-family: Arial, sans-serif;
        background-color: white;
    }

    table {
        border-collapse: collapse;
        width: 600px;
        font-size: 18px;
        text-align: center;
    }

    th, td {
        border: 3px solid darkblue;
    }

    th {
        background-color: green;
        color: white;
        font-weight: bold;
    }

    tr:nth-child(odd) {
        background-color: lightblue;
        color: black;
    }
