body {
    margin: 0px;
    font-family: sans-serif;
    background: aqua; 
    padding: 40px 30px;
}

label {
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 2px;
}

input {
    display: block;
    width: 500px;
    height: 45px;
    border-radius: 25px;
    background: white;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}
