p{
    color: red;
    background-color: aquamarine;
    font-size: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1{
    color: purple;
    background-color: orange;
    font-size: 50px;
    border: 10px solid blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}

button{
    color: lightblue;
    background-color: green;
    font-size: 100px;
    border: 5px solid red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}