@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

ol {
    width: 250px;
}

li:hover {
    background-color: lightblue;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}