#firstH2{
    color: red;
    font-size: 20px;
}

#secondH2{
    color: yellow;
    font-size: 10px;
}

#firstP{
    color: aquamarine;
    font-size: 55px;
}

#secondP{
    color: blueviolet;
    font-size: 40px;
}

#thirdP{
    color: blue;
    font-size: 90px;
}