p {
    color: blue;
    font-size: 18px;
    font-family: Arial;
    text-align: left;
}

button {
    border: 10px solid black;
    background-color: green;
    color: white;
    font-size: 30px;
    text-align: center;
}


h4 {
    color: purple;
    font-size: 20px;
    font-family: Georgia;
    text-align: right;
}