  body {
    margin: 0;
    height: 2000px;
  }

  .wrapper {
    height: 1500px;
    padding: 100px 0;
    background-color: aqua;
  }

  .box {
    width: 150px;
    height: 150px;
    background-color: teal;

    position: sticky;
    top: 40px;
    bottom: 65px;
  }