.nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: gray;
  color: white;
}

/* logo */
.logo img {
  width: 50px;
  flex-shrink: 0;
}

/* menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0 20px;
  padding: 0;
  flex-shrink: 1;
}

.menu li {
  margin: 0 10px;
  cursor: pointer;
}

/* button */
.btn {
  padding: 8px 15px;
  background: orange;
  border: none;
  flex-shrink: 0;
}