@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "League Spartan", sans-serif;
    overflow: hidden;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

#five-star-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.h1 {
  color: hsl(300, 43%, 22%);
  font-size: 56px;
  font-weight: 700;
  line-height: 48px;
  width: 60%;
}

.p1 {
  color: hsl(303, 10%, 53%);
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  width: 75%;
  padding-top: 32px;
}

.star {
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0px;
  padding: 0px 32px;
  width: 455px;
  height: 56px;
}

.star-p {
  color: hsl(300, 43%, 22%);
  font-size: 17px;
  font-weight: 700;
}

#star-second {
  margin-left: 32px;
}

#star-third {
  margin-left: 64px;
}

#cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}

.card {
  border-radius: 8px;
  background: hsl(300, 43%, 22%);
  width: 350px;
  height: 234px;
  padding: 24px;
}

.avatardiv {
  display: flex;
  align-items: center;
}

.avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.avatarname {
  color: hsl(0, 0%, 100%);
  font-size: 17px;
  font-weight: 700;
}

.verifiedbuyer {
  color: hsl(333, 80%, 67%);
  font-size: 17px;
  font-weight: 400;
  padding-top: 4px;
}

.cardtxt {
  color: hsl(0, 0%, 100%);
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 32px;
}

#cardsecond {
  margin-top: 32px;

}

#cardthird {
  margin-top: 64px;
}