body {
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px;
}

.content {
    margin-top: 80px;
    height: 1500px;
}