nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #222;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;

    position: relative;

    transition:
        color 1.2s,
        transform 0.3s;
}

nav a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: white;

    transition: width 1s;
}

nav a:hover {
    color: orange;
    transform: scale(1.2);
}
