h1{
    color: aquamarine;
    background-color: darkred;
}

h3{
    color: aquamarine;
    background-color: darkred;
}

p{
    color: blue;
    background-color: darkred;
}

button{
    width: 77px;
    height: 77px;
    border: 2px solid red;
    color: white;
    background-color: black;
}