#GOA {
    text-decoration: dotted underline green;
    text-align: right;
    text-transform: capitalize;
}

#GOA1 {
    text-decoration: line-through black;
    text-align: center;
    text-transform: capitalize;
}

#GOA2 {
    text-decoration: overline red;
    text-align: left;
}

#GOA3 {
    text-decoration: underline black;
    text-align: center;
    text-transform: capitalize;
}

#GOA4 {
    text-decoration: dotted line-through lime;
    text-align: right;
    text-transform: capitalize;
}

#GOA5 {
    text-decoration: line-through black;
    text-align: left;
    text-transform: capitalize;
}

#GOA6 {
    text-decoration: overline black;
    text-align: left;

}

#GOA7 {
    text-decoration: overline lime;
    text-align: right;
    color: lime;
}

#GOA8 {
    text-decoration: overline grey;
    text-align: center;
    color: grey;
    text-transform: uppercase;
}

#GOA9 {
    text-decoration: underline green;
    text-align: right;
}










