@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
}

/* ------------------------------------------- header */

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 24px 120px;
    justify-content: space-between;
}

header img {
    width: 150px;
    height: 24px;
}

.hamburger {
    display: none;
}


nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav button {
    border: none;
    background-color: #4CAF4F;
    color: #FFFFFF;
    align-items: center;
    gap: 6px;
    width: 135px;
    height: 36px;
    border-radius: 5px;
}

nav button img {
    width: 12px;
    height: 12px;
}

ul {
    display: flex;
    gap: 17px;
    list-style: none;
}

ul li {
    font-weight: 500;
    font-size: 15px;
    color: #4D4D4D;
}

/* ------------------------------------------- main */

/* ------------------------------------------- section 1 */


.hero {
    width: 100%;
    height: 420px;
    background: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.herodiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 600px;
    height: 290px;
    justify-content: space-evenly;
}

.herodiv h1 {
    font-size: 60px;
    color: #4D4D4D;
    font-weight: 600;
}

.herodiv span {
    color: #4CAF4F;
}

.herodiv p {
    color: #717171;
}

.herodiv button {
    padding: 12px 25px;
    background: #4CAF4F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

}

.hero img {
    width: 270px;
    height: 280px;
}

.dota {
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F7FA;

}

.dott {
    width: 40px;
}

/* ------------------------------------------- section 2 */

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 200px;
}

.lowk {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.clients p {
    color: #717171;
    text-align: center;
}

.clients h1 {
    color: #4D4D4D;
    font-weight: 600;
    align-content: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 45px;
    flex-wrap: wrap;
    width: 75%;
}

.icons img{
    width: 40px;
}


/* ------------------------------------------- section 3 */

.system {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-evenly;
    text-align: center;
    width: 480px;
    height: 200px;
}

.system h1 {
    font-size: 33px;
    color: #4D4D4D;
    font-weight: 600;
}

.system p {
    color: #717171;
}


.description {
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 50px;
}


.cards {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    padding: 40px;

}

.cardst {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    padding: 28px;
}

.cardst img {
    width: 65px;
    height: 55px;
}

.cards img {
    width: 65px;
    height: 55px;
}


.title {
    color: #4D4D4D;
    font-weight: 700;
    height: 90px;
}

.descrip {
    color: #717171;
    height: 70px;

}


/* ------------------------------------------- section 4 */

.wid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.TEXT {
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#reddd {
    min-height: 400px;
    align-content: center;
}

.TEXT h1 {
    color: #4D4D4D;
}

.TEXT p {
    color: #717171;
}

.TEXT button {
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    background-color: #4CAF4F;
    color: white;
}

/* ------------------------------------------- section 5 */

.DDLC {
    display: flex;
    justify-content: space-around;
    background: #F5F7FA;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 220px;
}

.just span {
    display: block;
    color: #4CAF4F;
}

.just h1 {
    color: #4D4D4D;
}

.characters {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 25px;

}

.deleted img {
    width: 40px;
    height: 40px;
}

.deleted {
    display: flex;
    gap: 20px;
}

/* ------------------------------------------- section 6 */

.pana {
    width: 300px;
}































@media (max-width:1000px) {
    header {
        padding: 0px 40px;
    }

    .hero {
        gap: 80px;
        padding: 20px;
    }

    .herodiv {
        gap: 20px;
    }

    .wid {
        height: 600px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .TEXT {
        gap: 20px;
    }

    .DDLC {
        padding: 0px 20px;
    }


}

@media (max-width:800px) {
    header {
        padding: 0px 30px;
    }

    .hamburger {
        display: block;
        width: 50px;
        height: 50px;
    }

    nav {
        display: none;
    }

    .dota {
        height: 720px;
        background-color: #F5F7FA;
    }

    .hero {
        flex-direction: column;

        height: 700px;
        padding: 20px;
        gap: 50px;
    }

    .hero img {
        width: 200px;
        height: 240px;

    }

    .herodiv {
        width: 90%;
        height: 370px;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .herodiv h1 {
        font-size: 50px;
    }

    .icons {
        row-gap: 30px;
    }

    .TEXT {
        width: 100%;
        padding: 0px 30px;
    }

    .TEXT h1 {
        font-size: 26px;
    }

    .DDLC {
        flex-direction: column;
        align-content: space-around;
        min-height: 300px;
    }

}

@media (max-width:610px) {

    .hamburger {
        width: 35px;
        height: 35px;
    }

    .herodiv h1 {
        font-size: 40px;
    }

    .herodiv span {
        display: block;
    }


    .system h1 {
        font-size: small;

    }

    .system {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        width: 100%;
    }

    .clients {
        height: 100%;
    }

    .description {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        row-gap: 60px;
    }

    .system h1 {
        font-size: 33px;
        color: #4D4D4D;
        font-weight: 600;
    }

    .system p {
        color: #717171;
    }

    .wid {
        min-height: 800px;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }


    .TEXT {
        gap: 30px;
    }

    .DDLC {
        display: flex;
        background: #F5F7FA;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 100%;
        min-height: 520px;
    }

    .characters {
        display: grid;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        gap: 20px;
    }


}