/* RGB aris feris modeli, romelic nishnavs: red, green, blue */

/* RGB aris damatebiti ferebis moduli */
/* anu ferebi miigeba sinatliss damatebit */
/* samive ferebis sxvadasxva intesivebis sherevit miigeba sxva ferrebi */
/* 255 aris max intensivoba*/