/* HEX aris feris kodis foramti romelic gamoiyeneba html-sa da css-shi */

/* hexis formati: */
/* #RRGGBB */
/* sadac RR aris witeli feris mnishvneloba */
/* GG aris mwvane feris mnishvneloba */
/* BB aris lurji feris mnishvneloba */


/* HEX ki aseti simboloebit aginishneba: */
/* 0 1 2 3 4 5 6 7 8 9 A B C D E F */



