/*  procentebshi (%) zomebis gawera sashualebass gvadzlevs elementebi
    anu isini sheicvlebian ekranis adideda elementis zomastan ertad. 

    mag:
    width: 50% nishnavs, rom elementis sigane yoveltvis iqneba 50% tavisi mshoblis sagnisa.

    piqselebshi (px) gansazgvruli zoma aris fiqsirebuli da ar icvleba ekranis zomis mixedvit.
    amitom procentebi uket mushaobs vebgverdebis dizainshi,
    romlebic adaptirebadi unda iyos sxvadasxva mowyobilobaze. */